
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-color {

    --background: #0e4da4;
}



ion-icon{
    color: #d7d8da;
}
.fg-color{

    color:#ffffff;
}

ion-grid {

    --ion-grid-padding: 0;
}

ion-tab-bar {

    --background: #0e4da4;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
    border-radius: 16px !important;

    height: 50px;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;

    bottom: 20px;
    position: relative;
    margin: 0 auto !important;
    border-top: none;
}

ion-tab-button {

    border-radius: 16px !important;
}